{% extends 'base.html' %} {% block content%}



<div style="width:80%;margin : auto;">
    <h1>List of Completed Tasks</h1>

{% if complete_task %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        
      </tr>
    </thead>
    <tbody>
      {% for item in complete_task %}
      <tr>
        <td>{{item.task_title}}</td>
        <td>{{item.task_discription}}</td>
        <td>Completed</td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>No Data avaiable</h3>
  {% endif %}
</div>

{% endblock %}